* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

/* set up main wrapper */
.wrap-container {
    width: 80%;
    height: 100vh;
    border: red 2px solid;
    display: flex;
    margin: 0 auto;
}

/* created a main row left */
.row-left {
    border: red 10px solid;
    background-color: white;
    width: 35%;
    height: 100vh;
    margin: 0 auto;
}

/* created a main row right */
.row-right {
    border: green 10px solid;
    background-image: url(../img/mine.jpg);
    width: 65%;
    height: 100vh;
    margin: 0 auto;
}

/* I added to both row media query for tablet and smartphone */
@media screen and (max-width: 992px) {
    .row-left {
        width: 15%;
    }

    .row-right {
        width: 85%;
    }

}

@media screen and (max-width: 668px) {
    .row-left {
        display: none;
    }

    .row-right {
        width: 100%;
    }
}

/* created an header to the left row */
.header-left {
    background-color: aqua;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;

}

.img-left {
    background-color: brown;
    width: 5rem;
}

.icons-left {
    background-color: black;
    width: 5rem;
}

/* setted the media queries for header left */
@media screen and (max-width: 992px) {
.icons-left {
        display: none;
    }
.img-left {
        width: 100vw;
        border: 2px black solid;
    }
}
@media screen and (max-width: 668px){
    
}

/* styled header right */

.header-right {
    background-color: aqua;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}

.img-right {
    background-color: brown;
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.icons-right {
    background-color: black;
    width: 5rem;
}
/* media query header right */

@media screen and (max-width: 992px) {

.icons-right {
        display: none;
    }
}

/* cta styled */
.action-call{
    background-color: aquamarine;
    min-height: 4rem;
}
@media screen and (max-width: 668px){
    .action-call{
        display: none;
    }
}

/* input styled */
.input{
    border: 3px black solid;
    min-height: 4rem;
}
@media screen and (max-width: 992px){
    .input{
        display: none;
    }
}

/* avatar left col styled */
.avatar-section{
    border: 2px black solid;
    min-height: 5rem;
    display: flex;
}
.avatar-left{
    background-color: orange;
    border: 3px black solid;
    min-height: 4rem;
    width: 20rem;
} 
.avatar-right{
    background-color: green;
    border: 3px black solid;
    min-height: 4rem;
    width: 100vw;
}
@media screen and (max-width: 992px){
    .avatar-right{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .avatar-left{
        width: 100vw;
    }
}
/* end avatar left col styled */
