* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

/* set up main wrapper */
.wrap-container {
    width: 80%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
}

/* created a main row left */
.row-left {
    background-color: white;
    width: 35%;
    height: 100vh;
    border: 2px red solid;
}

/* created a main row right */
.row-right {
    background-image: url(../img/mine.jpg);
    width: 65%;
    height: 100vh;
}

/* I added to both row media query for tablet and smartphone */
@media screen and (max-width: 992px) {
    .row-left {
        width: 15%;
    }

    .row-right {
        width: 85%;
    }
    .wrap-container{
       width: 100%;
       padding: 0;
    }
}

@media screen and (max-width: 668px) {
    .row-left {
        display: none;
    }

    .row-right {
        width: 100%;
    }
}

/* created an header to the left row */
.header-left {
    background-color: white;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;

}

.img-left {
    background-color: orange;
    width: 5rem;
}

.icons-left {
    background-color: orange;
    width: 5rem;
}

/* setted the media queries for header left */
@media screen and (max-width: 992px) {
.icons-left {
        display: none;
    }
.img-left {
        width: 100vw;
    }
}
@media screen and (max-width: 668px){
    
}

/* styled header right */

.header-right {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.img-right {
    background-color: green;
    border: black 2px solid;
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.icons-right {
    width: 5rem;
    background-color: green;
}
/* media query header right */

@media screen and (max-width: 992px) {
.img-right{
        width: 100vw;
    }
.icons-right {
        display: none;
    }
}

/* cta styled */
.action-call{
    background-color: green;
    min-height: 4rem;
}
@media screen and (max-width: 992px){
    .action-call{
        display: none;
    }
}

/* input styled */
.input{
    min-height: 4rem;
}
@media screen and (max-width: 992px){
    .input{
        display: none;
    }
}

/* avatar left col styled */
.avatar-section{
    min-height: 5rem;
    display: flex;
    border: 2px solid red;
}
.avatar-left{
    border: 2px black solid;
    background-color: orange;
    min-height: 4rem;
    width: 20rem;
} 
.avatar-right{
    border: 2px black solid;
    background-color: green;
    min-height: 4rem;
    width: 100vw;
}
@media screen and (max-width: 992px){
    .avatar-right{
        display: none;
    }
}
@media screen and (max-width: 668px){
    .avatar-left{
        width: 100vw;
    }
}
/* end avatar left col styled */


/* messages */
.message{
    position: relative;
    width: 100%;
    height: 95vh;
}
.first-message{
    background-color: lightgreen;
    width: 280px;
    border-radius: 1.5rem;
    margin: 2rem;
    position: absolute;
    top: 0%;
    left: 40%;
    width: 50%;
    height: 18%;
    
    
}
.second-message{
    
    background-color: white;
    width: 280px;
    border-radius: 1.5rem;
   margin: 2rem;
   position: absolute;
   top: 20%;
  right: 30%;
  width: 50%;
  height: 18%;
}

.footer{
    background-color:antiquewhite;
    
   margin: 2rem;
   position: absolute;
   top: 91%;
   margin: 0 auto;
   width: 100%;
   height: 8.9%;
  
}
.footer-set ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.footer-left{
    padding: 20px;
}
.footer-right{
    padding: 20px;
}
.footer-center{
    padding: 20px;
    
}
@media screen and (max-width: 668px){
    .footer-left{
        display: none;
    }
    .footer-right{
        display: none;
    }
}