* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.wrapper{
    background:linear-gradient(#099688 10%, #D6DBD8 10%);
    width: 100%;
    height: 100vh;
   
}
/* main box */
.main-box{
    display:flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.left-column{
    display: flex;
    flex-direction: column;
    display: none;
}
.right-column{
    border: 2px red solid;
    /* debug */

}

/* left column */

.left-column > *{
    border: 4px green solid;
}
.header{
    height: 60px;
}

.cta{
    height: 70px;
    display: none;
}
.search-bar{
    height: 50px;
    display: none;
}
.avatar-list{
    flex-grow: 1;
    overflow-y: scroll;
}
.avatar{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
 
    background-color: white;
}
.avatar img{
    width: 100px;
    border-radius: 50%;
    padding: 5px;
}
.avatar p{
    display: none;
}


@media screen and (min-width: 540px) {
    .left-column{
        display: inline-flex;
       width: 10rem;

    }
    
}
@media screen and (min-width: 991px){
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-box{
        width: 80%;
        height: 95%;
    }
    .left-column{
        display: inline-flex;
        width: 350px;  
    }
    .right-column{
        display: block;
        width: 100%;
    }
    .search-bar{
        display: block;
    }
    .cta{
        display: block;
    }
    .avatar p{
        display: block;
        padding: 3px;
        margin-top: 4px;
        margin-right: 5px;
    }
    .time{
        margin-top: 10px;
        font-size: 10px;
    }
    .name-description span{
        color: grey;
        font-size: 11px;
    }
}
